#mainHeader:hover {
  color: #00bffe;
  cursor: pointer;
  transition: color 0.5s;
}

#languageHeader:hover {
  color: #98f306;
  cursor: pointer;
  transition: color 0.5s;
}

#mypageHeader:hover {
  color: #f6b65a;
  cursor: pointer;
  transition: color 0.5s;
}

#logoutHeader:hover {
  color: #f6b65a;
  cursor: pointer;
  transition: color 0.5s;
}
